# Rename this file to `.env` and remove this line

# Private key that holds max funds
const masterKey=
# public address that holds max funds
const masterPub=
# mnemonic to derive sub addresses from
defaultMnemonic=""